<app-item-nav></app-item-nav>
<div>
    <h1 class="bg-black text-white fw-bolder m-3 text-center">View All Item</h1>
    <div class="container justify-content-center">
        <table class="table ">
            <tr class="bg-black text-white ">
                <th>Item ID</th>
                <th>Name</th>
                <th>Rental Per Day</th>
                <th>Fine Per Day</th>
                <th>Availability</th>
                <th></th>
            </tr>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-danger" ><i class="bi bi-trash-fill"></i></button></td>