<app-item-nav></app-item-nav>
<div>
    <h1 class="bg-black text-white fw-bolder m-3 text-center">Add Item</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Name" aria-label="Username"  aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Rental Per Day" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Fine Per Day" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Availability" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <button type="button" class="btn btn-success" >Add Item</button>
      
      
</div>
